*{              /*default property applied on the page */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{          /* Act as an internal */
    --second-color: #b9b9b9;
    --primary-color: #b5afaf;
    --black-color: #020101;
}

body{
    background-position: center;
    background-image: url(Hiking4.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

a{
    color: var(--second-color);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.container {
    display: flex;
    width: 100%;
    flex-grow: 1;
    
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    flex-direction: column;
}

.container, .login_container, .wave-btn {
    transition: all 0.3s ease-in-out;
}


.login_container{
    position: relative;
    backdrop-filter: blur(25px);
    width: 450px;
    border: 2px solid var(--primary-color);
    padding: 4.5em 2.5em 4.5em 2.5em; /*Spacing between the login the username */
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    color: var(--second-color);
    margin-top: 10%;
    
}

.Welcome{
    position: absolute;
    left: 36.5%;
    top: 0;
    margin-top: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 70px;
    color: white;
    padding: 60px;
    font-size: 400%;
    font-family: "Lucida Calligraphy", cursive, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.quote{
    position: absolute;
    left: 33.5%;
    top: 0;
    margin-top: 14%; 
    width: 140px; 
    height: 70px; 
    color: white;
    padding: 60px; 
    font-size: 200%;
    font-family: "Lucida Calligraphy", cursive, sans-serif;
    white-space: nowrap; /* Prevent line breaks */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


.login_title span{
    color: var(--black-color);
    font-size: 30px;
}

.button{
    font-size: 20px;
    border-radius: 50px;
    width: 100%;
    padding: 12px;
    height: 55px;
    color: white;
    background: #0369a1;
    border: 2px solid var(--primary-color);
    cursor: pointer;        
}

.button:hover {
    background-color: #005f8c; /* Darker shade */
    transform: scale(1.05);  /* Slightly enlarge the button */
    transition: transform 0.3s ease-in-out;
}


.line_container{
    display: flex;
    align-items: center;
    text-align: center;
}

.line{
    flex: 1;
    border: none;
    margin: 0 10px;
    height: 1.5px;
    background-color: var(--primary-color);
}


.or{
    margin: 0;
}


.horizontal_bar {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 70px; 
    background-color: #3498db; 
    color: white; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex; 
    align-items: center; 
    justify-content: space-between; /* Space between items */
}

.Trail-position{
    margin-left:12%;
    font-family: "Lucida Handwriting", cursive, sans-serif;
    font-size: 20px ;
}
.position{
    margin-right: 40%;
    font-size: large;
    text-align: center;
}

.image{
    width: 100%;
    height: 10vh;
    top:0;
    margin-left: 15%;
    margin-top: 5px;
    display: flex;
    position: fixed;
    background-color: transparent;
}

.image img{
    height: 58px;
    width: 58px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
}

.wave-btn{
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0.80rem 9.5rem;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--primary-color); 
}

.wave{
    background-color: #0369a1;
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 5px -5px 22px #075985, inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.wave-btn:hover {
    background-color: #005f8c; /* Darker shade */
    transform: scale(1.05);  /* Slightly enlarge the button */
    transition: transform 0.3s ease-in-out;
}

.wave::after,
.wave::before{
    content: "";
    position: absolute;
    left: -6.875rem;
    top: -23.75rem;
    border-radius: 40%;
    animation: animate 6s linear infinite;
    transition: 0.5s ease-in-out;
}

.wave::after{
    width: 250%;
    height: 25rem;
    background-color: #082f49;
    animation-delay: 2s;
}

.wave::before{
    width: 28.125rem;
    height: 25rem;
    background-color: rgb(68, 160, 235);
    animation-delay: 1.8s;
}

.wave-btn:hover .wave::after,
.wave-btn:hover .wave::before{
    width: 200%;
    height: 400%
}

.wave-text{
    position: relative;
    font-size: 1.375rem;
    letter-spacing: 0.125rem;
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}

